<div class="example-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [mode]="mobile.matches ? 'over' : 'side'" [fixedInViewport]="mobile.matches"
      style="background: rgb(248, 248, 248);">
      <div class="ml-2 mt-5 mr-2 text-center">
        <button [routerLink]="['main']" (click)="cleanTitle()" class="f-13 btn-nuevo">Home</button>
        <h2 class="example-app-name">
          
          <img class="logo" style="width: 150px;" src="../../../../assets/cliente/logo.png" alt="logo">
        </h2>
        
      </div>
      <mat-nav-list id="main-menu">
        <app-menu></app-menu>
      </mat-nav-list>
      <div class="mt-3 text-center">
        <span style="font-size: 12px;">eTable: Sistema de Reserva de Mesas</span><br>
        <span style="font-size: 12px; top: 0;">Designed By: Alexis jeje</span>
      </div>
      
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="header-login">
        <button *ngIf="!esCliente" [disabled]="!authentication" (click)="!authentication ? nothing(): snav.toggle(); navOpenClose()" class="f-left btn-sidenav">
          <em *ngIf="authentication" class="ml-2 mdi mdi-menu white f-20"></em>
          <div class="f-left"><span class="text-header">{{title}}</span></div>
        </button>
        
        <div class="f-right" *ngIf="authentication">
          <button (click)="!navOpen ? nothing() : snav.toggle(); logout()" 
          class="btn-close">
            <span style="font-weight: bold; text-decoration: none;" class="subline"><span class="mdi mdi-logout" style="color: white; padding-bottom: 2px; font-size: 20px; display: inline-block !important;"></span>Cerrar Sesión</span>
          </button>
        </div>
        <div class="f-right" *ngIf="authentication && esCliente">
          <button (click)="misReservas()" [ngClass]="activeMisReservas ? 'btn-active-m' : 'btn-close'">
            <em class="mdi mdi-file-document-box-outline f-16 mr-1"></em> <span class="subline">Mis Reservas</span>
          </button>
        </div>
        <div class="f-right" *ngIf="authentication && esCliente">
          <button (click)="reservar()" [ngClass]="activeReservarMesa ? 'btn-active-m' : 'btn-close'">
            <em class="mdi mdi-table-large f-16 mr-1"></em> <span class="subline">Reservar Mesa</span>
          </button>
        </div>
        

      </div>
      <app-login *ngIf="!authentication"></app-login>
      <router-outlet *ngIf="authentication"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>